.user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
}

.user-inputs {
    width: 95%;
}

.login-button {
    width: 98%;
    margin: auto;
}

.login-button-area {
    position: sticky;
    bottom: 3px;
    justify-content: center;
}

.login-inputs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.login-page {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.dark-mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-page-lg {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    margin: 90px auto;
    width: 30%;
}

.user-form-lg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button-lg {
    width: 30%;
    margin: auto;
}