.loadingSpinner {
    position: absolute;
    z-index: 105;
    margin: auto;
}

.parentSpinner {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 105;
    background-color: rgba(20, 20, 20, 0.7);
}

ion-spinner {
    width: 80px;
    height: 80px;
}