<ion-split-pane contentId="main-content">
  <div id="main-content">
    <ion-menu contentId="content" side="end">
      <ion-header>
        <ion-toolbar>
        </ion-toolbar>
      </ion-header>

      <ion-content>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
            <ion-item [routerLink]="p.url" routerDirection="root">
              <ion-icon [name]="p.icon" slot="start"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item>
            <ion-icon name="star-outline" slot="start"></ion-icon>
            <ion-label *ngIf="data.getDarkMode()">Dark Mode</ion-label>
            <ion-label *ngIf="!data.getDarkMode()">Light Mode</ion-label>
            <ion-toggle (ionChange)="data.setDarkMode($event.detail.checked)" checked="{{data.getDarkMode()}}"></ion-toggle>
          </ion-item>
          <ion-menu-toggle>
            <ion-item button (click)="showAlert()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Cerrar sesión
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="content" main></ion-router-outlet>
  </div>
</ion-split-pane>